html {
  scroll-behavior: smooth;
}

.navigation {
    position: fixed;
  width: 100%;
    z-index: 10;
  nav {
    padding: 0.5rem 1rem;
    z-index: 1;
  }


}

header {
  position: relative;
  height: 100vh;
overflow: hidden;
background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("./images/hero.jpg");
    background-size: cover;
    background-position: center;
  img {
    position: absolute;
    top: -10%;
    left: 10%;

    filter: blur(0.2px);
    max-width: 30rem;
    height: 140%;
  }

  div {
    padding-top: 5rem;
    position: relative;
    z-index: 2;
  }
}

section {
  padding: 8rem 0 8rem 0;
  opacity: 0;
  transform: translateY(-2rem);
  transition:all 1s ease-in;
}

.fade-in {
    transform: translateY(0);
    opacity: 1;
}

#section2 {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    color: rgb(180, 180, 48);
    transition: all 0.3s;
  }
}
