@import './src/styles/3dClock';
@import './src/styles/sections';
@import './src/styles/header';

html {
  scroll-behavior: smooth;
}


@media (prefers-reduced-motion: reduce) {
  .collapsing {
    color: rgb(180, 180, 48);
    transition: all 0.3s;
  }
  .carousel-item {
    transition: all 0.3s;
  }
}
